:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilos generales del menú */
nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
}


form{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
form label,input,button{
  margin: 10px;
}


/* Estilos generales para las tarjetas de servicio */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  max-width: 33%;
  width: 33%;
}

.card:hover {
  box-shadow: 0 8px 16px rgb(255, 255, 255);
}

.planes {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Estilos para pantallas más pequeñas (responsive) */
@media screen and (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-bottom: 10px;
  }
}


/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% del alto de la ventana */
}

/* Estilos para el menú */
nav {
  background-color: #333;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
}
#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
}
/* Estilos para pantallas más pequeñas (responsive) */
@media screen and (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-bottom: 10px;
  }
}
.seccion-productos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.oferta{
  color: red;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
